.btn {
  font-family: map-get($font-family, montserrat);
  @include pxRem(font-size, 12);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    border: none;
    text-shadow: none;
  }
}
.btn-outline-gray {
  background-color: transparent;
  color: map-get($colors, txt-gray);
  border: 2px solid map-get($colors, txt-gray);
  &:hover {
    background-color: map-get($colors, txt-gray);
    color: map-get($colors, white);
    border: 2px solid map-get($colors, txt-gray);
  }
}
.btn-violet {
  background-color: map-get($colors, violet);
  color: map-get($colors, white);
  &:hover {
    background-color: map-get($colors, danger);
  }
}
.btn-white {
  @include pxRem(font-size, 13);
  @include pxRem(letter-spacing, 2);
  color: map-get($colors, gray);
  padding: 15px 25px;
  background-color: map-get($colors, white);
  transition: all 0.5s ease 0s;
  font-weight: bold;
  &:hover {
    color: map-get($colors, white);
    background-color: map-get($colors, violet);
    text-decoration: none;
  }
}
.btn-black {
  color: map-get($colors, white);
  background-color: map-get($colors, black-a);
  &:hover {
    background-color: map-get($colors, violet);
  }
}
