.page-main {
  section {
    @include pxRem(margin-bottom, 40);
  }
}
.section-title {
  @include pxRem(font-size, 18);
  font-family: map-get($font-family, montserrat);
  color: map-get($colors, txt-black);
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-align: center;
}
.section-desc {
  @include pxRem(font-size, 13);
  @include pxRem(line-height, 28);
  font-family: map-get($font-family, georgia);
  color: map-get($colors, txt-black);
  text-align: center;
}
