// === Font === //
$font-family: (
  roboto: "Roboto",
  montserrat: "Montserrat",
  georgia: "Georgia"
);

// === Font Weight === //
$font-weight: (
  normal: 400,
  medium: 600,
  bold: 700
);

// == Breakpoints === //
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

// === Colors === //
$colors: (
  primary: #333,
  white: #fff,
  white-a: #3d4549,
  black: #000,
  black-a: #272e31,
  black-b: #20272a,
  black-c: #273034,
  violet: #090939,
  gray: #3c3c3c,
  gray-a: #c4cdcd,
  gray-b: #eff2f2,
  gray-c: #c5cacb,
  aqua: #cbeded,
  aqua-a: #5d9494,
  aqua-b: #a6e1e1,
  txt-black: #404e53,
  txt-gray: #66787f,
  txt-gray-a: #878e96,
  txt-light: #a4a6a7,
  border-black: #333,
  border-gray: #d2d8db,
  border-gray-light: #878f92,
  bg-gray: #e9eaec,
  bg-gray-light: #f7f7f7,
  bg-blue-light: #f4f6f7,
  danger: #f14d48,
  danger-a: #e95144,
  danger-b: #eb6256
);

// === z-index === //
$zindexs: (
  dropdown: 1000,
  sticky: 1020,
  fixed: 1030,
  modal-backdrop: 1040,
  modal: 1050,
  popover: 1060,
  tooltip: 1070
);

// === Typography === //
$font-size-base: 0.75rem !default; // 12px
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$h-font-size: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base
);
