.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.btn:hover {
  text-decoration: underline;
}
img {
  width: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.txt-center {
  text-align:  center;
}
.circle-element {
  border-radius: 50%;
}
.active {
  color: aqua;
}
.hover-blur:hover {
  opacity: 0.5;
}
/* socials */
.socials a {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  background-color: #dddddd;
  margin-left: 10px;
}
.socials a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* header */
.header-top {
  background-color: #dddddd;
  padding: 10px 15px;
}
.header-top .logo img {
  width: 150px;
}
.header-top .header-actions li {
  margin-left: 15px;
}
.header-top .header-actions li i {
  font-size: 24px;
}
.header-nav {
  padding: 15px;
}
.header-nav .header-menu-mobile {
  display: none;
  cursor: pointer;
}
.header-nav .header-menu-mobile div {
  margin: 4px auto;
  width: 30px;
  height: 5px;
  background-color: #000;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.header-nav #drop-down {
  display: none;
}

.header-nav .header-menu li a {
  margin-right: 15px;
}
.header-nav .header-menu li a:hover {
  color: aqua;
}
/* main */
/* section-slideshow */
.page-main section {
  margin-bottom: 40px;
}
.section-slideshow {
  position: relative;
}
.section-slideshow .slide-acions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 15px;
  width: 100%;
}
.section-slideshow .slide-acions .btn {
  border: unset;
  background: transparent;
  outline: none;
}
.section-slideshow .slide-acions .btn i {
  font-size: 24px;
}
/* section-product */
.section-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
.section-product .product-item {
  margin-bottom: 10px;
}
.section-product .product-item .product-item-content {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 12px -5px #000;
  padding-bottom: 10px;
}
.section-product .product-item .product-item-content .product-img img {
  transition: transform .2s;
  max-height: 130px;
  overflow: hidden;
}
.section-product .product-item .product-item-content .product-img img:hover{
  transform: scale(1.5);
}
.section-product .product-item .product-item-content .product-info {
  padding: 10px 5px;
}
.section-product .product-item .product-item-content .btn {
  display: block;
  width: 100%;
  text-align: center;
}
.section-banner-txt {
  background-color: #ddd;
  padding: 40px 0;
  color: #7d7171;
}
.section-banner-txt h2 {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 3px;
}
.section-banner-txt p {
  line-height: 1.5;
}
.section-newsletter {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 0 !important;
}
.section-newsletter .form-input-group {
  position: relative;
  display: inline-block;
}
.section-newsletter .newsletter-form label {
  margin-right: 5px;
}
.section-newsletter .newsletter-form input {
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: unset;
}
.section-newsletter .newsletter-form button {
  position: absolute;
  right: 0;
  top: 50%;
  border: unset;
  background: transparent;
  transform: translateY(-50%);
  outline: none;
}
/* footer */
.footer-col ul li {
  padding: 10px 0;
  color: #7d7171;
}
.footer-top {
  padding-top: 40px;
}
.footer-bottom {
  padding: 15px 0;
  background-color: #ddd;
  color: #7d7171;
  margin-top: 30px;
}
